extends layout

block meta
  meta(property="fileName", content=fileName)

block content
  div(class="container-fluid d-flex h-100 flex-column")
    div(class='row infobar py-2 border-bottom')
      div(class='col d-flex align-items-center')
        a(href="/")
          button(class="btn btn-outline-secondary") Back
      div(class='col text-center')
        h1= chatName
      div(class='col text-right')
    div(class='row container-content')
      div(class='col-8 border-right')
        div(class='container-chat flex-grow-1' id="chatContainer")
          each message in messagesSnippet
            if message.content !== undefined
              div(class='row')
                div(class='col')
                  if message.sender_name === ownerName
                    span(class='message-right' data-toggle="tooltip" data-placement="top" title=message.timestamp)
                      span=message.content
                  else
                    span(class='message-left' data-toggle="tooltip" data-placement="top" title=message.timestamp)
                      span=message.content
        div(class='container-search flex-grow-1' id="searchContainer")
          <button onclick=backToChat()>Back</button>
          br
          br
          span(id="results") Found 0 results:
          ol(id="searchList")


      div(class='col-4 py-4')
        div(class="form-inline mb-4")
          div(class="form-group")
            label(for="searchBar" class="mr-4") Search messages:
            input(type="text" id="searchBar" class="form-control")
          button(class="btn btn-primary mx-4" onclick="search()") Search
        p #[strong Total messages:] #{messageCount}
        canvas(id='canvas')
        p #[strong Total messages by person]
        ol
          each t in totalByPerson
            li
              | #{t.sender} - #{t.total}
        p #[strong Chats started by person]
        ol
          each t in conversationStarters
            li
              | #{t.sender} - #{t.count}
        p= 'Longest time between two messages:'+ longestTime + ' days'
        p #[strong Average number of words in a message]
        ul
          each  t in averageWords
            li
              | #{t.sender} - #{t.count}

  script(src='/scripts/graph.js')
