extends layout

block meta
  meta(property="fileName", content=fileName)

block content
  h1= chatName
  p= messageCount
  svg(id='total', class='svg')
  svg(id='monthly', class='svg')
  ol
    each t in totalByPerson
      li
        | #{t.sender} - #{t.total}
  script(src='/scripts/graph.js')
