extends layout

block content
  h1= title
  p Welcome to #{title}
  div(class="row")
    div(class="col")
      ul(class="list-group")
        each chat in files
          a(href="/chat/" + chat.fileName)
            li(class="list-group-item list-group-item-action")
              span(class="badge badge-primary badge-pill mr-4") #{chat.messageCount}
              span #{chat.title}
              if chat.participants !== null
                | - #{chat.participants}

