extends layout
block content

  div(class="container")
    h1= title
    p Welcome to #{title}
    canvas(id='canvas')

    div(class="row my-4")
      div(class="col-1")
        label(for="sort" class="col-form-label") Sort by:
      div(class="col-2")
        select(id="sort" class="sort form-control" onchange="sortList()")
          option(value="count" selected) Message Count
          option(value="date" disabled) Date
          option(value="title") A-Z
      div(class="col-3 form-check-inline")
        input(type="checkbox" class="form-check-input" name="directMessages" id="descending" checked onclick="sortListAsc()")
        label(for="descending" class="form-check-label") Descending
      div(class="col-4")
        div(class="form-check")
          input(type="checkbox" class="form-check-input" name="directMessages" id="directMessages" checked onclick="showDirects()")
          label(for="directMessages" class="form-check-label") Show Direct Messages
        div(class="form-check")
          input(type="checkbox" class="form-check-input" name="groups" id="groupMessages" checked onclick="showGroups()")
          label(for="groupMessages" class="form-check-label") Show Group Messages

    div(class="row")
      div(class="col")
        ul(id="list" class="list-group")
          each chat in files
            a(href="/chat/" + chat.fileName)
              if chat.participants === null
                li(class="list-group-item list-group-item-action list-group-item-light directs all")
                  span(class="badge badge-primary badge-pill mr-4") #{chat.messageCount}
                  span #{chat.title}
              else
                li(class="list-group-item list-group-item-action list-group-item-info groups all")
                  span(class="badge badge-pill badge-light mr-4") #{chat.messageCount}
                  span #{chat.title}
                  span(class="showParticipantsOnHover") #{chat.participants}
    script(src="/scripts/index.js")
